<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All users
    </h1>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      
      <% @users.each do |user| %>
      <tr>
        <td>
          <a href="/users/<%= user.id %>">
              <%= user.username %>
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
